<header-component [isConnected]="socketService.isConnected() | async"></header-component>
<div class="ui center aligned segment">
    <div class="ui grid">
        <!-- Start of first progress bar -->
        <div class="centered row">
            <div class="eight wide column">
            <div class="ui message">
                <div class="header">
                    Progress bar 1
                </div>
                <ul class="list">
                    <li>User can start operation.</li>
                    <li>Not possible to cancel this operation.</li>
                    <li>No handling errors on server for async operation.</li>
                    <li>Not possible to restart during the execution.</li>
                    <li>This operation will finish with no errors.</li>
                </ul>
            </div>
            </div>
        </div>

        <div class="centered row">
            <div class="eight wide column">
                <sui-progress class="active" [value]="progress[0].progress">Progress bar</sui-progress>
            </div>
        </div>

        <div class="centered row">
            <div class="four wide-column">
                <button class="ui green button" type="button" [disabled]="response[0].status" (click)="startOperation(1)">Start</button>
            </div>
        </div>

        <div class="centered row" *ngIf="response[0]?.message?.length > 0">
            <div class="ui negative message"
                 [ngClass]="{
                 'negative': !response[0].status,
                 'success': response[0].status
                  }">
                <div class="header">
                    {{ response[0]?.message }}
                </div>
            </div>
        </div>

        <!-- End of first progress bar -->
        <div class="ui divider"></div>

        <div class="centered row">
            <div class="eight wide column">
                <div class="ui message">
                    <div class="header">
                        Progress bar 2
                    </div>
                    <ul class="list">
                        <li>User can start operation.</li>
                        <li>Not possible to cancel this operation.</li>
                        <li>Handling errors on server for async operation.</li>
                        <li>Operation will stop on 50% and new response will be returned.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="centered row">
            <div class="eight wide column">
                <sui-progress class="active" [value]="progress[1].progress">Progress bar</sui-progress>
            </div>
        </div>

        <div class="centered row">
            <div class="four wide-column">
                <button class="ui green button" type="button" [disabled]="response[1].status" (click)="startOperation(2)">Start</button>
            </div>
        </div>
        <div class="centered row" *ngIf="response[1]?.message?.length > 0">
            <div class="ui negative message"
                 [ngClass]="{
                 'negative': !response[1].status,
                 'success': response[1].status
                  }">
                <div class="header">
                    {{ response[1]?.message }}
                </div>
              </div>
        </div>

        <div class="ui divider"></div>

        <div class="centered row">
            <div class="eight wide column">
                <div class="ui message">
                    <div class="header">
                        Progress bar 3
                    </div>
                    <ul class="list">
                        <li>User can start operation.</li>
                        <li>It is possible to cancel this operation manually.</li>
                        <li>After cancel can start operation again.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="centered row">
            <div class="eight wide column">
                <sui-progress class="active" [value]="progress[2].progress">Progress bar</sui-progress>
            </div>
        </div>

        <div class="centered row">
            <div class="four wide-column">
                <button class="ui green button" type="button" [disabled]="response[2]?.status" (click)="startOperation(3)">Start</button>
                <button class="ui red button" type="button" [disabled]="!response[2]?.status" (click)="cancelOperation()">Cancel</button>
            </div>
        </div>
        <div class="centered row" *ngIf="response[2]?.message?.length > 0">
            <div class="ui negative message"
                 [ngClass]="{
                 'negative': !response[2]?.status,
                 'success': response[2]?.status
                  }">
                <div class="header">
                    {{ response[2]?.message }}
                </div>
            </div>
        </div>

    </div>
</div>

